{{#if productos}}
    <div class="modal" id="productomodal">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <i class="tf-ion-close"></i>
    </button>
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <div class="modal-image">
                            <img class="img-responsive" style="height:300px; width:100%" src="/images/Productos_img/{{productos.ImgPro}}" alt="product-img" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="product-short-details">
                            <h2 class="product-title">{{ productos.NombrePro }}</h2>
                            <p class="product-price">{{ productos.PrecioPro }}</p>
                            <p class="product-short-description">
                                {{ productos.DescripcionPro }}
                            </p>
                            <a href="cart.html" class="btn btn-main">Add To Cart</a>
                            <a href="product-single.html" class="btn btn-transparent">View Product Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
<p>qweqwe</p>
{{/if}}

